<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contact Us</title>
</head>
<body>
    <h1> Book a slot </h1>
    <form action="/contact-us" method="POST">
        Name : 
        <input type="text" id="username" name="username">
        Email-Id :
        <input type="email" id="email" name="email">
        Regarding problem :
        <textarea name="problem"></textarea>
        <button type="submit"> Send </button>
    </form>
</body>
</html>