main {
    max-width: 800px;
    margin: 5px auto;
    padding: 5px;
    background-color: #65ff5a;
    border-radius: 8px;
    box-shadow: 0 2px 3.5px rgba(3, 153, 0, 0.87);
}

#header{
    margin: 20px;
    text-align: center;
    font-size: 36px;
    color: #0112fd8b;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form div {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

#problem {
    height: 100px;
    resize: vertical;
}

form button {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #04f4f8;
}